body {
  color: white;
  margin: 0;
  height: 650px;
}

header {
  background-color: #3c3a39;
  font-family: "Roboto", "Gill Sans", Calibri, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 24px 6px 24px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* hide desktop bar */
#header-desktop {
  display: none;
}

/* TOP NAV BAR */

.logo {
  height: 36px;
  padding-top: 6px;
}

.menu-img {
  width: 24px;
  height: auto;
  padding-top: 6px;
}

/* ------------------------ */

/* 1st section - INTRO */

/* ------------------------ */

.intro {
  padding: 120px 24px;
  background: url("assets/illustration-header-mobile.png") no-repeat;
  background-position: right 120%;
  background-color: #1c1a19;
}

/* intro title */
h1 {
  color: #ff6b00;
  font-family: "Crete Round", "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}

/* intro sub title */
h2 {
  color: #fff5e1;
  font-family: "Roboto", "Gill Sans", sans-serif;
  line-height: 32px;
}

/* intro text */
.intro p {
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* social icons bar */
ul.social-icons {
  display: flex;
  gap: 5px;
  width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  align-self: baseline;
}

.social-icons img {
  padding: 5px;
  width: 50%;
  height: auto;
}

/* ------------------------ */

/* 2ND section - RECENT WORKS */

/* ------------------------ */

/* grid to works cards */
.recent-works {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

/* HEADLINE (divisor) */

.recent-works-headline {
  grid-column: span 3;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-works-headline h3 {
  color: #091e42;
  text-align: center;
  font-family: "Crete Round", Roboto, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding: 16px 0 36px;
  margin-top: 120px;
  margin-bottom: 0;
}

/* divisor line */
.line-divisor {
  align-items: center;
  grid-column: span 3;
}

hr {
  margin: auto;
  width: 85%;

}

/* ------------------------ */

/* STANDARD CARDS */

/* ------------------------ */

/* card wrapper */
article {
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 3;
  margin: 0 24px;
}

/* mobile card wrapper */
.wrap-card {
  margin: 0 16px;
}

/* cards background images */
.featured-card img {
  width: 100%;
}

.card1 {
  background-image:
    linear-gradient(180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%),
    url("assets/project1-web.jpg");
}

.card2 {
  background-image: url("assets/project2.jpg");
}

.card3 {
  background-image: url("assets/project3.jpg");
}

.card4 {
  background-image: url("assets/project4.jpg");
}

.card5 {
  background-image: url("assets/project5.jpg");
}

.card6 {
  background-image: url("assets/project6.jpg");
}

/* cards text styles */
.card-h {
  font-family:
    "Crete Round",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  padding: 94px 0 0 0;
}

.card-p {
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  line-height: 24px;
  margin: 0;
  padding: 12px 0;
}

/* languages buttons */
.lang ul {
  display: flex;
  height: 40px;
  gap: 12px;
  margin: 0;
  padding: 12px 0;
  list-style-type: none;
}

button {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  font-size: 15px;
  color: white;
  border: 0;
}

/* ************************* */

/* ************************* */

/* See Project small button */
div .see-project {
  background: #ff6b00;
  display: inline-block;
  text-align: center;
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
  padding: 12px;
}

/* See Project mobile large button */
.card-link {
  display: flex;
  flex-direction: column;
}

article a .see-project {
  margin: 0 12px;
  width: 124px;
  display: block;
}

/* ************************* */

/* ************************* */

/* ----------------- */

/* FEATURED card */

/* ----------------- */

article.featured {
  color: #091e42;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

/* fetured text styles */
.wrap-featured {
  padding-top: 24px;
}

.featured .card-h {
  color: #091e42;
  padding: 0;
}

#featured-p {
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 12px 0;
}

/* featured languages buttons */
.featured button {
  background: #fff;
  border: 1px solid #8993a4;
  color: #091e42;
}

/* ----------------- */

/* 3ND section - ABOUT ME */

/* ----------------- */

.aboutme {
  margin-top: 120px;
  padding: 120px 24px 0;
  background: url("assets/illustration-about-me-mobile.png") no-repeat;
  background-position: right bottom;
  background-color: #1c1a19;
  color: #f4f5f7;
}

.aboutme h1 {
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.aboutme p {
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  line-height: 24px;
  padding-bottom: 12px;
}

/* get resume button */
.get-resume {
  border-bottom: 1px solid white;
  /* divisor line */
  padding-bottom: 209px;
}

/* grid for skills list */
.skills {
  padding: 120px 0;
  background: #1c1a19;
}

/* skills box */
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0 24px;
  font-family:
    "Inter",
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Open Sans",
    sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

/* skills category */
.skills li {
  padding: 12px 24px;
}

/* list of skills */
.items {
  font-weight: 400;
  font-size: 22px;
}

/* ----------------- */

/* RESPONSIVENESS */

/* ----------------- */

/* mobile landscape */
@media screen and (min-width: 675px) and (max-width: 939px) {
  .intro {
    background: url("assets/Illustration-header2.png") no-repeat;
    background-position: right;
    background-size: 38%;
    background-color: #1c1a19;
    padding: 80px 0 80px 40px;
    margin-top: 55px;
  }

  .intro h2 {
    margin: 0;
    padding: 24px 0;
    font-size: 18px;
  }

  .intro p {
    margin: 0;
    padding: 0 0 24px;
    width: 380px;
  }

  .intro ul {
    float: left;
  }

  .recent-works .recent-works-headline {
    grid-column: span 6;
  }

  .recent-works {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  article {
    grid-column: span 3;
    width: 100%;
    margin: 0;
  }

  article.featured {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    color: #091e42;
    align-items: center;
    margin-top: 0;
  }

  .featured img {
    grid-column: span 2;
  }

  .wrap-featured {
    grid-column: span 2;
    padding: 0;
  }

  article a {
    display: flex;
    flex-direction: column;
  }

  .aboutme {
    margin-top: 80px;
    padding: 80px 0 0 40px;
    background: url("assets/illustration-about-me.png") no-repeat;
    background-position: right;
    background-size: 42%;
    background-color: #1c1a19;
  }

  .aboutme h1 {
    text-align: left;
  }

  .aboutme p {
    width: 344px;
    padding: 0 0 28px 0;
  }

  .get-resume {
    padding-bottom: 60px;
    margin-right: 60px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 60px;
  }

  .skills ul {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    padding: 0;
  }

  .skills li {
    text-align: left;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 30px;
  }

  .skills li:nth-child(2) {
    text-align: left;
    padding-left: 46px;
  }

  .skills li:nth-child(3) {
    text-align: left;
    padding-left: 46px;
  }

  .skills li:nth-child(4) {
    text-align: left;
    padding-left: 46px;
  }

  .skills li:nth-child(5) {
    text-align: left;
    padding-left: 46px;
  }

  .skills li:nth-child(6) {
    text-align: left;
    padding-left: 46px;
  }
}

/* ----------------- */

/* medium screens  */

/* ----------------- */

@media screen and (min-width: 940px) and (max-width: 1199px) {
  header {
    padding: 10px 141px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  #header-mobile {
    display: none;
  }

  #header-desktop {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
  }

  .logo {
    height: 52px;
  }

  nav {
    width: 280px;
  }

  .desktop-nav {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .email-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .desktop-nav-links {
    text-decoration: inherit;
    color: inherit;
  }

  /* *************************** */
  /* *************************** */

  .intro {
    background: url("assets/Illustration-header2.png") no-repeat;
    background-position: right;
    background-size: 32%;
    background-color: #1c1a19;
    padding: 100px 0 100px 60px;
    margin-top: 72px;
  }

  .intro h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .intro h2 {
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin: 0;
    padding: 24px 0;
  }

  .intro p {
    font-size: 20px;
    line-height: 32px;
    color: white;
    margin: 0;
    max-width: 530px;
  }

  .recent-works {
    margin: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .recent-works-headline {
    grid-column: 1 / span 3;
    align-items: flex-start;
  }

  .recent-works-headline h3 {
    margin: 60px 0 60px 10px;
    padding: 0;
  }

  .line-divisor {
    grid-column: 4 /span 2;
    padding-top: 160px;
    border-bottom: #091e42;
    width: 100%;
  }

  hr {
    width: 100%;
  }

  article {
    grid-column: span 3;
    width: 100%;
    margin: 0;
  }

  .wrap-card p {
    max-width: 345px;
  }

  article.featured {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    color: #091e42;
    margin-top: 30px;
  }

  .featured p {
    max-width: 345px;
  }

  .wrap-featured {
    padding-top: 0;
  }

  .aboutme {
    padding: 130px 142px 0 60px;
    background: url("assets/illustration-about-me.png") no-repeat;
    background-position: right;
    background-size: 38%;
    background-color: #1c1a19;
  }

  .aboutme h1 {
    text-align: left;
    font-size: 72px;
    line-height: 82px;
  }

  .aboutme p {
    font-size: 20px;
    line-height: 32px;
    width: 566px;
    padding: 0 0 48px 0;
  }

  .get-resume {
    padding-bottom: 139px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 146px 141px;
  }

  .skills ul {
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills li {
    text-align: left;
    padding: 12px 0;
  }
}

/* ----------------- */

/* bigger desktop screens  */

/* ----------------- */

@media screen and (min-width: 1200px) {
  header {
    padding: 10px 141px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  #header-mobile {
    display: none;
  }

  #header-desktop {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 52px;
  }

  nav {
    width: 280px;
  }

  .desktop-nav {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .email-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .desktop-nav-links {
    text-decoration: inherit;
    color: inherit;
  }

  /* ***************************/
  /* Intro section */
  /* ***************************/
  .intro {
    background: url("assets/Illustration-header2.png") no-repeat;
    background-position: right;
    background-size: 45%;
    background-color: #1c1a19;
    margin-top: 72px;
    padding: 192px 0 231px 36px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  ul.social-icons {
    display: block;
    align-self: center;
    text-align: center;
    padding-right: 76px;
    width: max-content;
  }

  .social-icons li {
    max-width: max-content;
  }

  .social-icons img {
    width: 21px;
  }

  .intro h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .intro h2 {
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin: 0;
    padding: 24px 0;
  }

  .intro p {
    font-size: 20px;
    line-height: 32px;
    color: white;
    margin: 0;
    max-width: 566px;
  }

  /**************************/
  /* Grid of works */
  /**************************/
  .recent-works {
    margin: 0 7%;
  }

  .recent-works-headline {
    grid-column: 1;
  }

  .recent-works-headline h3 {
    text-align: left;
  }

  .line-divisor {
    grid-column: 2 /span 2;
    padding-top: 160px;
    border-bottom: #091e42;
    width: 100%;
  }

  hr {
    width: 100%;
  }

  article {
    grid-column: auto;
    margin: 0;
    padding: 0;
  }

  article.featured {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    color: #091e42;
  }

  .wrap-featured {
    padding-top: 0;
  }

  .aboutme {
    padding: 130px 142px 0 130px;
    background: url("assets/illustration-about-me.png") no-repeat;
    background-position: right;
    background-size: 38%;
    background-color: #1c1a19;
  }

  .aboutme h1 {
    text-align: left;
    font-size: 72px;
    line-height: 82px;
  }

  .aboutme p {
    font-size: 20px;
    line-height: 32px;
    width: 566px;

    /* max-width: 566px; */
    padding: 0 0 48px 0;
  }

  .get-resume {
    padding-bottom: 139px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 146px 141px;

    /* margin: 0;
    text-align: center; */
  }

  .skills ul {
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills li {
    text-align: left;
    padding: 12px 0;
  }
}

/* form part */
.form-section {
  align-items: center;
  justify-content: center;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;

}

.form {
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
}

input[type=text],
input[type=email]{
 width: 100%;
  margin-top: 24px;
  border: 0;
  border-bottom: 1px solid #DBD8D7;
  padding: 14px;
}

textarea {
  margin-right: 24px;
  padding: 24px;
  margin-top: 24px;
  background-color: #FBF8F7;
  border: 0;
}
input[type=submit]{
  justify-self: center;
}